<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <title>Photo App</title>
</head>

<body ng-app>  
  
  <div>1 + 1 = {{1+1}}</div>
  
  <!-- Explains the use of Angular Switch Case,ng-model,filter -->
  <div data-ng-controller="MainController">
	  <div data-ng-repeat="user in users" ng-switch="user.house">
	  		<h3>{{user.name}}</h3>
	  		<p>{{user.description | uppercase}}<p>
	  		<p>{{user.house}}<p>
	  		<img alt=""  HEIGHT=50 WIDTH=50 src="http://googledrive.com/host/0Bz6MIjSA3u5MSDNwcmNDYWVOdms/images/water1.jpg" data-ng-switch-when="house1">
	  		<img alt=""  HEIGHT=50 WIDTH=50 src="http://googledrive.com/host/0Bz6MIjSA3u5MSDNwcmNDYWVOdms/images/mountains1.jpg" data-ng-switch-when="house2">
	  		<input type="text" ng-model="user.description">
	  		
	  </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="MainController.js"></script>
</body>

</html>